# Data Cleaning and prepping SCAT values

### Objective

#### Analysis
- Analyze the spreadsheet files
- Understand and explain what each rows and cols are?
- Understand the values and its units
- Consider the columns to keep and justify the columns to be disregarded.

In [77]:
import pandas as pd

# CSV raw datasets
SCATS_DATA_OCTOBER_2006_CSV_PATH = 'datasets/Scats Data October 2006.csv'
SCATS_SITE_LISTING_SPREADSHEET_VICROADS_CSV_PATH = 'datasets/SCATSSiteListingSpreadsheet_VicRoads.csv'
TRAFFIC_COUNT_LOCATIONS_WITH_LONG_LAT_CSV_PATH = 'datasets/Traffic_Count_Locations_with_LONG_LAT.csv'

# reading the csv files
df_scats_data_october = pd.read_csv(SCATS_DATA_OCTOBER_2006_CSV_PATH, header = 1)
df_scats_site_listing = pd.read_csv(SCATS_SITE_LISTING_SPREADSHEET_VICROADS_CSV_PATH)
df_traffic_long_lat = pd.read_csv(TRAFFIC_COUNT_LOCATIONS_WITH_LONG_LAT_CSV_PATH)

In [78]:
# Outputting SCATS Data October 2006
df_scats_data_october

,SCATS Number,Location,CD_MELWAY,NB_LATITUDE,NB_LONGITUDE,HF VicRoads Internal,VR Internal Stat,VR Internal Loc,NB_TYPE_SURVEY,Date,...,V89,V90,V91,V92,V93,V94,V95,Unnamed: 106,Unnamed: 107,Unnamed: 108
0,970,WARRIGAL_RD N of HIGH STREET_RD,060 G10,-37.86703,145.09159,249,182,1,1,1/10/06,...,66,81,50,59,47,29,34,NaN,NaN,NaN
1,970,WARRIGAL_RD N of HIGH STREET_RD,060 G10,-37.86703,145.09159,249,182,1,1,2/10/06,...,114,80,60,62,48,44,26,NaN,NaN,NaN
2,970,WARRIGAL_RD N of HIGH STREET_RD,060 G10,-37.86703,145.09159,249,182,1,1,3/10/06,...,86,93,90,73,57,29,40,NaN,NaN,NaN
3,970,WARRIGAL_RD N of HIGH STREET_RD,060 G10,-37.86703,145.09159,249,182,1,1,4/10/06,...,101,113,90,78,66,52,44,NaN,NaN,NaN
4,970,WARRIGAL_RD N of HIGH STREET_RD,060 G10,-37.86703,145.09159,249,182,1,1,5/10/06,...,113,99,91,61,55,49,36,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4187,4821,VICTORIA_ST W OF BURNLEY_ST,002HF02,-37.81296,145.00830,6673,1513,7,1,27/10/06,...,103,122,124,117,99,108,88,NaN,NaN,NaN
4188,4821,VICTORIA_ST W OF BURNLEY_ST,002HF02,-37.81296,145.00830,6673,1513,7,1,28/10/06,...,105,105,112,82,97,106,107,NaN,NaN,NaN
4189,4821,VICTORIA_ST W OF BURNLEY_ST,002HF02,-37.81296,145.00830,6673,1513,7,1,29/10/06,...,76,66,64,77,60,49,45,NaN,NaN,NaN
4190,4821,VICTORIA_ST W OF BURNLEY_ST,002HF02,-37.81296,145.00830,6673,1513,7,1,30/10/06,...,80,74,48,67,62,50,62,NaN,NaN,NaN
4191,4821,VICTORIA_ST W OF BURNLEY_ST,002HF02,-37.81296,145.00830,6673,1513,7,1,31/10/06,...,87,74,87,75,63,51,54,NaN,NaN,NaN


- Time-Based Data (e.g., V00, V01, V02, ...): These columns represent traffic counts or flow rates at specific time intervals. They are critical for understanding traffic patterns over time and predicting future traffic flow.
- Date (Start Time): This is important for understanding the day-to-day variation in traffic. It can be useful to include the day of the week or whether the day is a weekday/weekend, as traffic patterns often differ.

Location Information:

- SCATS Number and Location: These provide context on where the data was recorded, allowing the model to learn location-specific traffic patterns.
Coordinates (Latitude and Longitude): If multiple locations are involved, geographical data can help in understanding spatial traffic patterns.

Internal Codes (if meaningful):
- HF VicRoads Internal, VR Internal Stat, VR Internal Loc: If these columns represent different types of traffic flow or control information, they could provide additional context to improve predictions.

In a machine learning model, you'll likely treat the time-based data as your primary features, with additional features such as date, day of the week, and location to provide context. You might also need to consider temporal relationships and how past traffic data influences future traffic predictions.

In [79]:
# Outputting SCATSSiteListingSpreadsheet
df_scats_site_listing

,SCATS Site Listing,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,The list of Site descriptions and correspondin...,NaN,NaN,NaN,NaN
1,If multiple sites are required the format of t...,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...
4519,5081,YARRA/LT MALOP,INT,Melway,452C04
4520,4897,YORK/FERRARS,INT,Melway,2K-A01
4521,1296,YOUNG NR PLAYNE,FLASH PX,Melway,100AC08
4522,741,YOUNG NR STATION,POS,Melway,102D02
4523,757,YOUNG NR WELLS,FLASH PX,Melway,102D02

Columns:
- Site Number: This likely represents the unique identifier for each SCATS (Sydney Coordinated Adaptive Traffic System) site.
- Location Description: Describes the physical location of the SCATS site, such as the intersection or road segment it monitors.
- Site Type: Indicates the type of site, which might be "Intersection" (INT) or other designations.
- Directory: Possibly refers to a reference directory or map that includes the SCATS site.
- Map Reference: A specific reference on a map (e.g., Melway) to locate the site geographically.

Rows:

   Each row after the headers appears to correspond to a SCATS site with details about its location, type, and reference information.

   This dataset provides geographical and descriptive information about SCATS sites, which could be useful in your traffic prediction model by linking traffic data to specific sites and their characteristics.

In [80]:
# Outputting Traffic_Count_Locations_with_LONG_LAT 
df_traffic_long_lat

,X,Y,FID,OBJECTID,TFM_ID,TFM_DESC,TFM_TYP_DE,MOVEMENT_T,SITE_DESC,ROAD_NBR,DECLARED_R,LOCAL_ROAD,DATA_SRC_C,DATA_SOURC,TIME_CATEG,YEAR_SINCE,LAST_YEAR,AADT_ALLVE,AADT_TRUCK,PER_TRUCKS
0,144.250614,-36.779313,7001,7301,7656,CALDER HWY NE OF OAK ST,INTERSECTION,All Moves,CALDER HWY & OAK ST,2530,CALDER HIGHWAY,HIGH STREET,TMVMT,Manual,Greater than 10 Years,19,1997,7700,330,0.04
1,145.356779,-37.835309,7002,7302,29406,MT DANDENONG RD S BD SE OF UPALONG RD,INTERSECTION,All Moves,MT DANDENONG RD SE OF UPALONG RD,4991,MOUNT DANDENONG ROAD,MOUNT DANDENONG TOURIST ROAD,APARX,Classification,Greater than 10 Years,16,2000,1900,0,0.00
2,144.988844,-37.824629,7003,7303,22676,SWAN ST W BD E OF PUNT RD,INTERSECTION,All Moves,PUNT RD LEFT TURN TO SWAN ST OD:12,2080,HODDLE HIGHWAY,PUNT ROAD,MOTSV,Manual,Greater than 10 Years,23,1993,15000,630,0.04
3,144.932442,-37.803783,7004,7304,27902,DYNON RD W BD E OF RADCLIFFE ST,INTERSECTION,All Moves,DYNON RD & RADCLIFFE ST,5035,DYNON ROAD,DYNON ROAD,TMVMT,Manual,Greater than 10 Years,19,1997,12000,1300,0.10
4,145.030601,-37.660502,7005,7305,10935,DALTON RD N of CHILDS RD,INTERSECTION,All Moves,CHILDS RD & DALTON RD,5605,DALTON ROAD,DALTON ROAD,TMVMT,Manual,Greater than 10 Years,19,1997,12000,600,0.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57942,144.306938,-36.728799,56996,56399,60461,DLAND HWY N BD BTW BOSQUET ST AND PLUMRIDGE ST,MIDBLOCK,All Moves,DLAND HWY BTW BOSQUET ST AND PLUMRIDGE ST,2590,MIDLAND HIGHWAY,NAPIER STREET,APARX,Classification,Greater than 10 Years,0,0,0,0,0.00
57943,146.764140,-38.021751,56997,56899,59432,TRARALGON-MAFFRA ROAD(F) 52 m 7 from ROSEDALE-...,DEPARTURE,All Moves,SEDALE-HEYFIELD ROAD AND TRARALGON-MAFFRA ROAD,5543,TRARALGON-MAFFRA ROAD,TRARALGON-MAFFRA ROAD,TMVMT,Manual,Greater than 10 Years,0,0,0,0,0.00
57944,145.062372,-37.846644,56998,56700,50953,TOORAK_RD E of BOWEN_ST,INTERSECTION,All Moves,TOORAK RD NR BOWEN ST,2750,BURWOOD HIGHWAY,TOORAK ROAD,SCATS,Scats,Greater than 10 Years,26,1990,18000,0,0.00
57945,146.765214,-38.022690,56999,56900,59433,ROSEDALE-HEYFIELD ROAD(F) 91 m 4 from THREE CH...,APPROACH,All Moves,SEDALE-HEYFIELD ROAD AND TRARALGON-MAFFRA ROAD,5544,ROSEDALE-HEYFIELD ROAD,ROSEDALE-HEYFIELD ROAD,TMVMT,Manual,Greater than 10 Years,0,0,0,0,0.00
57946,141.126860,-36.361853,57000,56400,60186,STERN HIGHWAY (WEST BOUND) LILLIMUR VIPER WIM ...,MIDBLOCK,All Moves,STERN HIGHWAY (EAST & WEST BOUND) LILLIMUR VIP...,2520,WESTERN HIGHWAY,WESTERN HIGHWAY,WGHMO,WIM,Greater than 10 Years,0,0,0,0,0.00

The file "Traffic_Count_Locations_with_LONG_LAT.csv" contains the following columns:

- X and Y: These are the geographic coordinates (longitude and latitude, respectively) of the traffic count locations.
- FID and OBJECTID: These are identifiers that may refer to specific features or objects within a geographic or mapping system.
- TFM_ID: This is an identifier for the traffic flow monitoring site.
- TFM_DESC: Description of the traffic monitoring site, typically indicating the road or intersection being monitored.
- TFM_TYP_DE: Type of the traffic flow monitoring, which seems to describe the location type (e.g., "INTERSECTION").
- MOVEMENT_T: Describes the movement type being monitored (e.g., "All Moves" likely means all traffic directions).
- SITE_DESC: A more detailed description of the site, often including road names or specific intersections.
- ROAD_NBR: The road number for the monitored site.
- DECLARED_R: The declared road name or type, often indicating the official name or designation of the road.
- LOCAL_ROAD: Describes the local road connected to the declared road, giving further context to the location.
- DATA_SRC_C: Source of the data, likely indicating the method of data collection.
- DATA_SOURC: Further description of the data source, such as whether it was manually collected or obtained through a specific method.
- TIME_CATEG: Indicates the time category, such as how old the data is (e.g., "Greater than 10 Years").
- YEAR_SINCE: The number of years since the data was first collected.
- LAST_YEAR: The last year in which the data was updated.
- AADT_ALLVE: The Annual Average Daily Traffic (AADT) for all vehicles at the site.
- AADT_TRUCK: The AADT specifically for trucks at the site.
- PER_TRUCKS: The percentage of total traffic that consists of trucks.

Rows:

Each row in this file corresponds to a specific traffic count location. The data in each row provides detailed information about that location, including geographic coordinates, traffic flow details, and historical traffic data.

This file provides important context that can be combined with time-based traffic data to enhance the accuracy of your traffic flow prediction model. For instance, the geographic coordinates and AADT values can help in understanding spatial and volume-based traffic patterns.

#### Data Cleaning & Feature Engineering

In [81]:
df_scats_data_october

,SCATS Number,Location,CD_MELWAY,NB_LATITUDE,NB_LONGITUDE,HF VicRoads Internal,VR Internal Stat,VR Internal Loc,NB_TYPE_SURVEY,Date,...,V89,V90,V91,V92,V93,V94,V95,Unnamed: 106,Unnamed: 107,Unnamed: 108
0,970,WARRIGAL_RD N of HIGH STREET_RD,060 G10,-37.86703,145.09159,249,182,1,1,1/10/06,...,66,81,50,59,47,29,34,NaN,NaN,NaN
1,970,WARRIGAL_RD N of HIGH STREET_RD,060 G10,-37.86703,145.09159,249,182,1,1,2/10/06,...,114,80,60,62,48,44,26,NaN,NaN,NaN
2,970,WARRIGAL_RD N of HIGH STREET_RD,060 G10,-37.86703,145.09159,249,182,1,1,3/10/06,...,86,93,90,73,57,29,40,NaN,NaN,NaN
3,970,WARRIGAL_RD N of HIGH STREET_RD,060 G10,-37.86703,145.09159,249,182,1,1,4/10/06,...,101,113,90,78,66,52,44,NaN,NaN,NaN
4,970,WARRIGAL_RD N of HIGH STREET_RD,060 G10,-37.86703,145.09159,249,182,1,1,5/10/06,...,113,99,91,61,55,49,36,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4187,4821,VICTORIA_ST W OF BURNLEY_ST,002HF02,-37.81296,145.00830,6673,1513,7,1,27/10/06,...,103,122,124,117,99,108,88,NaN,NaN,NaN
4188,4821,VICTORIA_ST W OF BURNLEY_ST,002HF02,-37.81296,145.00830,6673,1513,7,1,28/10/06,...,105,105,112,82,97,106,107,NaN,NaN,NaN
4189,4821,VICTORIA_ST W OF BURNLEY_ST,002HF02,-37.81296,145.00830,6673,1513,7,1,29/10/06,...,76,66,64,77,60,49,45,NaN,NaN,NaN
4190,4821,VICTORIA_ST W OF BURNLEY_ST,002HF02,-37.81296,145.00830,6673,1513,7,1,30/10/06,...,80,74,48,67,62,50,62,NaN,NaN,NaN
4191,4821,VICTORIA_ST W OF BURNLEY_ST,002HF02,-37.81296,145.00830,6673,1513,7,1,31/10/06,...,87,74,87,75,63,51,54,NaN,NaN,NaN

In [82]:
df_scats_data_october = df_scats_data_october.dropna(how='all', axis=1)
df_scats_data_october = df_scats_data_october.fillna(0)

In [83]:
numerical_columns = []
for i in range(96):
    if i < 10:
        numerical_columns.append('V0' + str(i))
    else :
        numerical_columns.append('V' + str(i))
        
df_scats_data_october[numerical_columns] = df_scats_data_october[numerical_columns].apply(pd.to_numeric, errors='coerce')

In [87]:
df_scats_data_october['Date'] = pd.to_datetime(df_scats_data_october['Date'], format='%d/%m/%Y')

new_date_columns = pd.DataFrame({
    'Day_Of_Week': df_scats_data_october['Date'].dt.dayofweek,
    'Is_Weekend': df_scats_data_october['Date'].dt.dayofweek >= 5
})

df_scats_data_october = pd.concat([df_scats_data_october, new_date_columns], axis=1)

In [93]:
df_scats_data_october['Rolling_1hr'] = df_scats_data_october[numerical_columns].iloc[:, :96].mean(axis=1)

In [94]:
df_scats_data_october.columns

Index(['SCATS Number', 'Location', 'CD_MELWAY', 'NB_LATITUDE', 'NB_LONGITUDE',
       'HF VicRoads Internal', 'VR Internal Stat', 'VR Internal Loc',
       'NB_TYPE_SURVEY', 'Date',
       ...
       'V89', 'V90', 'V91', 'V92', 'V93', 'V94', 'V95', 'Day_Of_Week',
       'Is_Weekend', 'Rolling_1hr'],
      dtype='object', length=111)

In [95]:
df_scats_data_october

,SCATS Number,Location,CD_MELWAY,NB_LATITUDE,NB_LONGITUDE,HF VicRoads Internal,VR Internal Stat,VR Internal Loc,NB_TYPE_SURVEY,Date,...,V89,V90,V91,V92,V93,V94,V95,Day_Of_Week,Is_Weekend,Rolling_1hr
0,970,WARRIGAL_RD N of HIGH STREET_RD,060 G10,-37.86703,145.09159,249,182,1,1,2006-10-01,...,66,81,50,59,47,29,34,6,True,143.541667
1,970,WARRIGAL_RD N of HIGH STREET_RD,060 G10,-37.86703,145.09159,249,182,1,1,2006-10-02,...,114,80,60,62,48,44,26,0,False,180.854167
2,970,WARRIGAL_RD N of HIGH STREET_RD,060 G10,-37.86703,145.09159,249,182,1,1,2006-10-03,...,86,93,90,73,57,29,40,1,False,196.562500
3,970,WARRIGAL_RD N of HIGH STREET_RD,060 G10,-37.86703,145.09159,249,182,1,1,2006-10-04,...,101,113,90,78,66,52,44,2,False,194.791667
4,970,WARRIGAL_RD N of HIGH STREET_RD,060 G10,-37.86703,145.09159,249,182,1,1,2006-10-05,...,113,99,91,61,55,49,36,3,False,203.468750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4187,4821,VICTORIA_ST W OF BURNLEY_ST,002HF02,-37.81296,145.00830,6673,1513,7,1,2006-10-27,...,103,122,124,117,99,108,88,4,False,141.114583
4188,4821,VICTORIA_ST W OF BURNLEY_ST,002HF02,-37.81296,145.00830,6673,1513,7,1,2006-10-28,...,105,105,112,82,97,106,107,5,True,124.916667
4189,4821,VICTORIA_ST W OF BURNLEY_ST,002HF02,-37.81296,145.00830,6673,1513,7,1,2006-10-29,...,76,66,64,77,60,49,45,6,True,107.260417
4190,4821,VICTORIA_ST W OF BURNLEY_ST,002HF02,-37.81296,145.00830,6673,1513,7,1,2006-10-30,...,80,74,48,67,62,50,62,0,False,126.260417
4191,4821,VICTORIA_ST W OF BURNLEY_ST,002HF02,-37.81296,145.00830,6673,1513,7,1,2006-10-31,...,87,74,87,75,63,51,54,1,False,128.947917